

//make the html file to cover the whole screen
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}

/* מכולה ראשית של האפליקציה */
.main-app-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}


.lower-container {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}

/* אזור הטולבר */
.toolbar-area {
  flex: 0 0 auto; /* רוחב קבוע לפי התוכן */
  height: 100%;
  min-width: 0;
  box-sizing: border-box;
}


.chart-stage-area {
  flex: 1 1 auto; /* מתפשט ומצטמצם לפי שאר החלל */
  height: 100%;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


.settings-area {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 100%;
}